@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
/* 背景 */
body{
	font-family: 'Noto Sans JP', sans-serif;
	background-color:rgb(203, 203, 182);	
	/* background-image: radial-gradient(rgba(0, 0, 0, .5) 0%, rgba( 0, 0, 0, .5) 100%), */
					   /* url(../back_image/back_image.jpg); */
}

/* フォント */
.home-user {
	font-weight: bold;
	padding:50px ;
	margin-top: 15px;
	background-color:rgb(203, 203, 182);
	border-radius: 20px;
	border-style: double;
	border-width: 3px;
	border-color: rgb(39, 81, 67);
}

.table {
	background-color:rgb(203, 203, 182);
	border-collapse: separate;
	border-radius: 20px;
	border-style: double;
	border-width: 3px;
	border-color: rgb(39, 81, 67);
	margin-bottom: 10px;
}

/* ボタン */
.btn {
	color: beige;
	background-color:  rgb(18, 18, 16);
	border-radius: 20px;
	box-shadow: 0 2px 2px 0;
}

/* 画像 */
.home-userimage {
	margin-top: 15px;
}

.user-image-big{
    width: 200px;
    height: 200px;
	border-radius: 10px;
}

.user-image-small{
    width: 100px;
    height: 100px;
	border-radius: 10px;
}

.user-image-mini{
    width: 50px;
    height: 50px;
	border-radius: 10px;
}

.speech-bubble-dest {
	position: relative;
	background: #9fefef;
	border-radius: .4em;
	margin-bottom: 20px;
	box-shadow: 2px 2px 0 0;
}

.speech-bubble-dest:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color:#9fefef;
	border-left: 0;
	margin-top: -8px;
	margin-left: -8px;
}

.speech-bubble-self {
	position: relative;
	background: #db96c2;
	border-radius: .4em;
	margin-bottom: 20px;
	box-shadow: 0 2px 2px 0;
}

.speech-bubble-self:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-left-color:#db96c2;
	border-right: 0;
	margin-top: -8px;
	margin-right: -8px;
}

.bottom-space {
	padding-bottom: 300px;
}

.message-form {
	position: fixed;
	bottom: 0;
	padding:15px;
	width: 100%;
	display:flex;
	align-items: center;
	flex-wrap: wrap;
}

#message {
	height: 35px;
	margin-bottom: 4px;
	margin-right: 10px;
}

/* #submit { 
	height: 35px;
	margin-bottom: 15px;
	width: 120px;
	border: none;
	cursor: pointer;
}*/

#submit {
	color: beige;
	background-color:  rgb(18, 18, 16);
	border-radius: 20px;
	box-shadow: 0 2px 2px 0;
}

tr,td {
	border: none;
	font-weight: bold;
}

.app_name{
	font-family: HGS創英角ﾎﾟｯﾌﾟ体;
	color: rgb(203, 203, 182);
	margin-right: 10px;
}