<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}FLASK SNS{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="icon" href="{{url_for('static', filename='icon/flask.png')}}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
            <a class="app_name navbar-brand" href="{{url_for('app.home')}}">ラジオ工房</a></h1>
            <a class="navbar-brand" href="{{url_for('app.home')}}">
                ホーム
            </a>
            <a class="navbar-brand" href="{{url_for('app.mail')}}">
                メール作成
            </a>
            {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="{{url_for('app.mail_list')}}">
                メール一覧
            </a>
            <a class="navbar-brand" href="{{url_for('app.user_search')}}">
                ユーザ検索
            </a>
            <a class="navbar-brand" href="{{url_for('app.theme_search')}}">
                テーマ検索
            </a>
            <a class="navbar-brand" href="{{url_for('app.option')}}">
                設定
            </a>
            <a class="navbar-brand" href="{{url_for('app.logout')}}">
                ログアウト
            </a>
            {% else %}
            <a class="navbar-brand" href="{{url_for('app.login')}}">
                ログイン
            </a>
            <a class="navbar-brand" href="{{url_for('app.register')}}">
                登録
            </a>
            {% endif %}
            <a href="https://radiko.jp"><img src="https://radiko.jp/static/image/135x45_banner.gif" width="135" heght="45" border="0" /></a>
        </nav>
        <div class="$container">
            {% block content %} 
            {% endblock %}
        </div>
    </body>
</html>