@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

/* 背景 */
body{
	font-family: 'Noto Sans JP', sans-serif;
	background-color:rgb(203, 203, 182);	
}

/* メニューバー */
.app_name{
	font-family: HGS創英角ﾎﾟｯﾌﾟ体;
	color: rgb(203, 203, 182);
	margin-right: 10px;
}

/* ボタン */
.btn ,#submit {
	color: beige;	
	margin:5px;
	background-color:  rgb(18, 18, 16);
	border-radius: 20px;
	box-shadow: 0 2px 2px 0;
	text-decoration: none;
}

a:hover ,.btn:hover ,#submit:hover {
	background-color: #3abec1;
	color: #fff;
	text-shadow: 1px 1px 0 #195253;
}

/* 画像サイズ */
.home-userimage {
	margin-top: 15px;
}

.user-image-big{
    width: 200px;
    height: 200px;
	border-radius: 10px;
}

.user-image-small{
    width: 100px;
    height: 100px;
	border-radius: 10px;
}

.user-image-mini{
    width: 50px;
    height: 50px;
	border-radius: 10px;
}

/* ホーム画面 */
.home-user {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	border-radius: 20px;
	border-style: double;
	border-width: 3px;
	border-color: rgb(39, 81, 67);
	justify-content: center;
	padding-left: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}
/* 非ログイン時 */


/* 余白 */
.bottom-space {
	padding-bottom: 300px;
}

/* メニュー */
.navbar-brand {
	margin-right: 20px;
}

/* メール作成画面 */
.mail {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#to_email, #mail_topic, #header, #mail_message, #footer {
	background-color: rgb(228, 223, 218);
	width: 600px
}

#header, #footer {
	height: 150px;
}

#mail_message {
	height: 550px;
}

/* ユーザ画面 */
.user_option {
	display: flex;
	flex-direction: column;
	vertical-align: top;
}

/* テーブル_共通 */
.table {
	table-layout: fixed;
	border-radius: 20px;
	background-color:rgb(203, 203, 182);
	border-style: double;
	border-width: 3px;
	border-color: rgb(39, 81, 67);
	margin-bottom: 10px;
}

td {
	border: none;
	vertical-align:middle;
}

/* テーブル_メールリスト画面 */
.table-sm {
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 20px;
}

.m_list {
	border: none;
	font-weight: bold;
	text-overflow: ellipsis;
  	white-space: nowrap;
	overflow: hidden;
	max-width: 0px;
}

.m_list_btn {
	text-align: center;
}

/* メッセージ画面 */
.speech-bubble-dest {
	position: relative;
	background: #9fefef;
	border-radius: .4em;
	margin-bottom: 20px;
	box-shadow: 2px 2px 0 0;
}

.speech-bubble-dest:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color:#9fefef;
	border-left: 0;
	margin-top: -8px;
	margin-left: -8px;
}

.speech-bubble-self {
	position: relative;
	background: #db96c2;
	border-radius: .4em;
	margin-bottom: 20px;
	box-shadow: 0 2px 2px 0;
}

.speech-bubble-self:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-left-color:#db96c2;
	border-right: 0;
	margin-top: -8px;
	margin-right: -8px;
}
.message-form {
	position: fixed;
	bottom: 0;
	padding:15px;
	width: 100%;
	display:flex;
	align-items: center;
	flex-wrap: wrap;
}

#message {
	height: 35px;
	margin-bottom: 4px;
	margin-right: 10px;
}

html {
	scroll-behavior: smooth;
  }
  
  section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 150px 100px;
	color: #fff;
  }
  
  .container {
	/* position: relative; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .main-title {
	font-size: 4rem;
	margin-bottom: 50px;
  }
  
  .content {
	/* position: relative; */
	width: 1150px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .content .image {
	position: relative;
	width: 600px;
	height: 400px;
	overflow: hidden;
  }
  
  .content .image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
	z-index: 10;
  }
  
  .content .text-box {
	z-index: 20;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	padding: 40px;
	max-width: 400px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	transform: translate(-80px, 50px);
  }
  
  .content .text-box h3 {
	font-size: 2em;
	margin-bottom: 10px;
  }

  .section-title {
	font-size: 3em;
	margin-bottom: 80px;
  }
  
  .info-title {
	font-size: 1.8em;
	margin-bottom: 10px;
  }
  
  .info {
	width: 700px;
	margin-left: 50px;
  }
  
  .media-info {
	width: 400px;
	margin-left: 50px;
  }
  
  .media-info li {
	list-style: none;
	font-size: 1.4em;
  }
  
  .media-info li a {
	text-decoration: none;
	color: #fff;
  }
  
  .media-info li:not(:last-child) {
	margin-bottom: 50px;
  }
  
  .media-info li:nth-child(1),
  .media-info li:nth-child(5) {
	padding-left: 100px;
  }
  
  .media-info li:nth-child(2),
  .media-info li:nth-child(4) {
	padding-left: 50px;
  }
