{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
メール一覧 - {{ super() }}
{% endblock %}
{% block content %}
<h1>メール一覧</h1>
<div class="col-lg-8 offset-lg-2">
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <th>メールアドレス</th>
                <th>メールテーマ</th>
                <th>本文</th>
                <th>作成日時</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
            {% for mail in mail_list %}
                <tr>
                    <td class = "m_list">{{ mail.to_email }}</td>
                    <td class = "m_list">{{ mail.mail_topic }}</td>
                    <td class = "m_list">{{ mail.mail_message }}</td>
                    <td class = "m_list">{{ mail.create_at.strftime('%Y年%m月%d日 %H:%m') }}</td>
                    <td class = "m_list"><a href="{{ url_for('app.mail2', id = mail.id) }}" class="btn btn-link">参照作成</a></td>
                    <td class = "m_list"><a href="{{ url_for('app.mail_delete', id = mail.id) }}" class="btn btn-link">削除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}