{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
ユーザ情報編集画面 - {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <h1>ユーザ設定</h1>
    <div class="col-lg-i offset-lg-4">
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    </div>
    <div class="col-lg-2 offset-lg-2">
        {% if current_user.picture_path %}
        <img class="user-image-big" img src ="{{url_for('static', filename=current_user.picture_path)}}">
        {% endif %}
    </div>
    <div class=" col-lg-4 offset-lg-2 user_option">
        <form method="POST" enctype="multipart/form-data">
            {{form.csrf_token}}
            {{render_field(form.username)}}
            {{render_field(form.email)}}
            {{render_field(form.header)}}
            {{render_field(form.footer)}}
            {{render_field(form.picture_path)}}
            {{form.submit()}}
        </form>
        <a href="{{url_for('app.change_password')}}">パスワード変更</a>
        <a href="{{url_for('app.delete')}}">退会</a>
    </div>
</div>
{% endblock %}